html {
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    filter: grayscale(100%);
    size: 8.5in 11in;
    margin-top: .5in;
    margin-left: .5in;
    margin-right: .5in;
    margin-bottom: .5in;
}
